/* line 5, ../../../../../../Ruby23/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../Ruby23/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../Ruby23/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../Ruby23/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../Ruby23/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../Ruby23/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../Ruby23/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../Ruby23/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../Ruby23/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 3, scss/_fx.scss */
.slide-transition {
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -webkit-transform: translateX(0);
  transform: translateX(0);
  -moz-transition: -moz-transform 0.3s;
  -o-transition: -o-transform 0.3s;
  -webkit-transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
}

/* line 8, scss/_fx.scss */
.slide-enter {
  -moz-transform: translateX(100vw);
  -ms-transform: translateX(100vw);
  -webkit-transform: translateX(100vw);
  transform: translateX(100vw);
}

/* line 12, scss/_fx.scss */
.slide-leave {
  -moz-transform: translateX(100vw);
  -ms-transform: translateX(100vw);
  -webkit-transform: translateX(100vw);
  transform: translateX(100vw);
}

/* line 3, scss/_basics.scss */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 7, scss/_basics.scss */
body {
  background: #eee;
  color: #555;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 140%;
  overflow-x: hidden;
}

/* line 16, scss/_basics.scss */
h1 {
  font-size: 120%;
  color: #777;
  padding: 1rem;
  padding-left: 4rem;
}

/* line 3, scss/_colorscheme.scss */
.color-scheme {
  position: fixed;
  top: 0;
  left: 0;
  width: 3rem;
  height: 100vh;
  overflow-y: scroll;
  overflow-x: hidden;
  background: #555;
  color: #eee;
  -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  -moz-transition: width, 0.3s;
  -o-transition: width, 0.3s;
  -webkit-transition: width, 0.3s;
  transition: width, 0.3s;
  z-index: 10;
}
/* line 17, scss/_colorscheme.scss */
.color-scheme:hover {
  width: 14rem;
}

/* line 22, scss/_colorscheme.scss */
.color {
  padding: 0.2rem 0.4rem;
  white-space: nowrap;
  line-height: 1.2rem;
  position: relative;
  overflow: hidden;
}
/* line 32, scss/_colorscheme.scss */
.color input {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  width: 0;
  height: 0;
}
/* line 41, scss/_colorscheme.scss */
.color .swatch {
  display: inline-block;
  width: 1.2rem;
  height: 1.2rem;
  padding: 0;
  vertical-align: middle;
  cursor: pointer;
  margin-right: 0.5rem;
  -moz-border-radius: 0.6rem;
  -webkit-border-radius: 0.6rem;
  border-radius: 0.6rem;
  -moz-transition: background-color 0.3s;
  -o-transition: background-color 0.3s;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
}
/* line 53, scss/_colorscheme.scss */
.color label {
  font-size: 80%;
  font-weight: bold;
  width: 10rem;
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
}

/* line 3, scss/_preview.scss */
.preview {
  padding: 1rem;
  padding-left: 4rem;
  font-family: 'Consolas', 'Lucida Console', monospace;
  font-size: 120%;
  line-height: 110%;
  height: 100vh;
  -moz-transition: background-color 0.3s, color 0.3s;
  -o-transition: background-color 0.3s, color 0.3s;
  -webkit-transition: background-color 0.3s, color 0.3s;
  transition: background-color 0.3s, color 0.3s;
}
/* line 12, scss/_preview.scss */
.preview .color-bars {
  white-space: nowrap;
}
/* line 16, scss/_preview.scss */
.preview .color-cell {
  -moz-transition: background-color 0.3s, color 0.3s;
  -o-transition: background-color 0.3s, color 0.3s;
  -webkit-transition: background-color 0.3s, color 0.3s;
  transition: background-color 0.3s, color 0.3s;
}
/* line 20, scss/_preview.scss */
.preview .cursor {
  display: inline-block;
}
/* line 24, scss/_preview.scss */
.preview a {
  color: inherit;
  text-decoration: none;
}
/* line 28, scss/_preview.scss */
.preview a:hover {
  text-decoration: underline;
}

/* line 3, scss/_registry.scss */
.output {
  padding: 1rem;
  padding-left: 4rem;
  position: absolute;
  top: 0;
  right: 0;
  min-height: 100vh;
  max-width: 100rem;
  background-color: #eee;
  -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
/* line 14, scss/_registry.scss */
.output h2 {
  font-size: 150%;
  line-height: 110%;
  margin: 2rem 0 1rem;
}
/* line 20, scss/_registry.scss */
.output .instructions {
  color: #777;
  font-size: 90%;
  margin: 0.3rem 0 1rem;
}
/* line 26, scss/_registry.scss */
.output input,
.output textarea {
  width: 100%;
  padding: 0.3rem 0.5rem;
  font-family: monospace;
  border: 1px solid #ddd;
  background: #fff;
}
/* line 35, scss/_registry.scss */
.output .reg-text {
  height: 10rem;
}
/* line 39, scss/_registry.scss */
.output .download {
  margin-top: 2rem;
}
/* line 42, scss/_registry.scss */
.output .download a {
  font-size: 150%;
  padding: 0.5em 1em;
  -moz-border-radius: 5rem;
  -webkit-border-radius: 5rem;
  border-radius: 5rem;
  background: #339;
  color: #fff;
  text-decoration: none;
}

/* line 3, scss/_selector.scss */
.selector {
  position: fixed;
  top: 1rem;
  right: 1rem;
  z-index: 10;
}
/* line 9, scss/_selector.scss */
.selector a {
  display: inline-block;
  border: 1px solid #ddd;
  background: #555;
  color: #fff;
  text-decoration: none;
  padding: 0.4rem 1rem;
  -moz-border-radius: 5rem;
  -webkit-border-radius: 5rem;
  border-radius: 5rem;
}
