@import "compass/css3";

.color-scheme {
  position: fixed;
  top: 0;
  left: 0;
  width: 3rem;
  height: 100vh;
  overflow-y: scroll;
  overflow-x: hidden;
  background: #555;
  color: #eee;
  @include box-shadow(0 0 5px transparentize(black, 0.5));
  @include transition(width, 0.3s);
  z-index: 10;

  &:hover {
    width: 14rem;
  }
}

.color {
  padding: 0.2rem 0.4rem;
  white-space: nowrap;
  line-height: 1.2rem;

  // Following two lines are used to tuck the invisible input away
  position: relative;
  overflow: hidden;

  // Invisible input
  input {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    width: 0;
    height: 0;
  }

  .swatch {
    display: inline-block;
    width: 1.2rem;
    height: 1.2rem;
    padding: 0;
    vertical-align: middle;
    cursor: pointer;
    margin-right: 0.5rem;
    @include border-radius(0.6rem);
    @include transition(background-color 0.3s);
  }

  label {
    font-size: 80%;
    font-weight: bold;
    width: 10rem;
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
  }

}
